@import "../../_variables";

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-bottom: 10px;

  > * {
    margin-right: 35px;
    display: flex;
  }
}

// This is unfortunate, but there are other classes with too high of
// specificity in _buttons.scss, so the !importants are necessary -CR 10042016
.tab {
  background-color: palette(white) !important;
  border-bottom: 2px solid palette(white) !important;
  border-color: palette(white) !important;
  color: palette(gray, xdark) !important;
  cursor: pointer;
  font-size: 12px !important;
  padding: 0 !important;
  display: inline-block;
  border: 1px solid #676767;
  box-sizing: border-box;
  line-height: 28px;
  text-decoration: none !important;
  background: none;
  white-space: nowrap;
  border-radius: 2px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  
  &:hover {
    border-bottom: 2px solid palette(gray, light) !important;
  }
}

.active,
.active:hover {
  border-bottom: 2px solid palette(gray, xdark) !important;
  cursor: default;
  font-weight: bold;
}

.tab:focus {
  outline: none;
}
